.vscode
Backend/.vscode
Backend/bin
Backend/obj
BackendExtreme/Backend.Tests/bin/Debug/
BackendExtreme/Backend.Tests/bin/Debug/
BackendExtreme/Backend/bin/*
BackendExtreme/Backend/obj/*
BackendExtreme/Backend.Tests/bin/*
BackendExtreme/Backend.Tests/obj/*
*.deb
.DS_Store
